# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Git
.git/
.gitignore

# VS Code
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/

# Tests & Docs
tests/
docs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env